.wrapper .content .inner-content{
    padding: 10px 30px 0 30px;
    width: 65%;
}
.content-box{
    display: flex;
    padding-right: 30px;
}
.wrapper .content .inner-content .product-infor{
    background-color: #FCFCFC;
    padding: 20px 30px;
    margin-bottom: 20px;
}
.wrapper .content .inner-content .product-infor h3{
    margin: 0 0 30px 0;
}
.wrapper .content .inner-content .product-infor form{
    display: flex;
    flex-direction: column;
}
.wrapper .content .inner-content .product-infor form label{
    margin-bottom: 20px;
}
.wrapper .content .inner-content .product-infor form input{
    border: 1px solid #808080;
    height: 40px;
    margin-bottom: 20px;
}
.text-box{
    border: 1px solid #808080;
    height: 160px;
    margin-bottom: 20px;
}
.text-box .box-top{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.text-box .box-top .top-left{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.text-box .box-top .top-left i:hover{
    cursor: pointer;
}
.text-box .box-top .top-right{
    color: #9A9FA5;
}
.text-box .box-top .top-right i:hover{
    cursor: pointer;
}
.text-box .box-top .top-right i:last-child{
    margin-left: 20px;
}
textarea{
    width: 100%;
    height: 120px;
    margin:0;
    background-color: #F4F4F4;
    outline: none!important;
    border: none;
}
.product-func .box{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-func .box input{
    width: calc(50% - 10px);
    border: none;
   background-color: #F4F4F4;
   font-size: 14px;
   padding: 10px;
   margin-bottom: 15px;
   outline: none;
}

/* Hinh anh san pham */
.product-images{
    background-color: #FCFCFC;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.product-images h3{
    margin-bottom: 20px;
}
.product-images span{
    margin-bottom: 10px;
}
.product-images .choose-img{
    background-color: #F3F3F3;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px
}
.product-images form select{
    width: 100%;
    padding: 10px;
    outline: none;
}
#imageInput{
    margin: auto;
}
/* Gia san pham */
.product-prices{
    background-color: #FCFCFC;
    padding: 20px 30px;
    margin-bottom: 20px;
}
.product-prices h3{
    margin: 0 0 20px 0;
}
.product-prices .box-price{
    margin-top: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #7E7E7E;
}
.product-prices .box-price span{
    background-color: #F4F4F4;
    padding: 10px;
    font-weight: 700;
}
.product-prices .box-price input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #FCFCFC;
    font-size: 16px;
    padding-left: 10px;
}

/* Danh muc thuoc tinh */
.product-attribute{
    background-color: #FCFCFC;
    margin-bottom: 20px;
    padding: 20px 30px
}
.product-attribute h3{
    margin-bottom: 20px;
}
.product-attribute form .list{
    display: flex;
    display: flex;
    flex-direction: column;
}
.product-attribute form .list label{
    font-weight: 700;
    margin-bottom: 10px;
}
.product-attribute form .list select{
    padding: 10px;
    color: #707070;
    outline: none;
}
.product-attribute form .select-category{
    display: flex;
    margin-top: 15px;
}
.col1, col2{
    width: 50%;
}
.box-size, .box-choose{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.box-size span, .box-choose span{
    margin-bottom: 5px;
}
.box-size span input, .box-choose span input{
    margin-right: 10px;
}
.box-choose span{
    display: flex;

}
.box-choose .box-color{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.box-choose .color1{
    background-color: #696A62;
}
.box-choose .color2{
    background-color: #947549;
}
.box-choose .color3{
    background-color: #141414;
}
.box-choose .color4{
    background-color: #FFFFFF;
    border: 0.5px solid #141414;
}
.box-choose .color5{
    background-color: #DB4040;
}

/* Thao luan */
.prodcut-comment{
    background-color: #FCFCFC;
    padding: 20px 30px;
    margin-bottom: 50px;
}
.prodcut-comment h3{
    margin-bottom: 20px;
}
.prodcut-comment .box-text{
    margin-top: 10px;
    border: 1px solid #808080;
}
.prodcut-comment .box-text textarea{
    height: 124px;
}

/* Preview */
.preview{
    width: 400px;
    background-color: #FCFCFC;
    margin-top: 90px;
    padding: 20px 60px;
    height: 50%;
}
.preview-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}
.preview-title i{
    font-size: 18px;
    color: #6F767E;
}
.preview-title i:hover{
    cursor: pointer;
    color: #141414;
}
.preview-title span{
    font-size: 22px;
}
.preview img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.preview-top{
    position: relative;
}
.preview-top .sale{
    position: absolute;
    top: 15px;
    /* display: flex;
    justify-content: space-between; */
}
.sale span{
    background-color: #c90303;
    color: #FCFCFC;
    font-size: 14px;
    padding: 5px 10px;
}
.sale i{
    right: -180px;
    font-size: 22px;
}
.sale i:hover{
    cursor: pointer;
}
.preview-top i{
    position: absolute;
}
.preview-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.preview-bottom .bottom-left{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.preview-bottom .bottom-right{
    display: flex;
}
.preview-bottom .bottom-right div{
    background-color: #947549;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius:50%;
    border: 1px solid #FCFCFC;
}
.preview-bottom .bottom-right div:hover{
    cursor: pointer;
    border: 1px solid #000000;
}
.preview-bottom .bottom-right div:first-child{
    background-color: #696A62;
}
.preview-bottom .bottom-right div:last-child{
    background-color: #141414;
}

/* Footer */
footer {
    bottom: 0;
    height: 90px;
    background-color: #FCFCFC;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    flex-direction: row-reverse;
}
footer .save .save--btn{
    padding: 10px 15px;
    border: 1px solid #808080;
    color: #141414;
    margin-right: 10px;
}
footer .save .save--btn:hover{
    background-color: #141414;
    color: #FCFCFC;
}
footer .save .up--btn{
    padding: 10px 15px;
    background-color: #707070;
    margin-right: 10px;
    color: #FCFCFC;
    border: 1px solid #707070;
}
footer .save .up--btn:hover{
    /* border: 1px solid #808080; */
    background-color: #141414;
    color: #FCFCFC;
}
