.wrapper .content .inner-content {
    padding: 10px 30px 0 30px;
    width: 65%;
}

.content-box {
    display: flex;
    padding-right: 30px;
}

.wrapper .content .inner-content .product-infor {
    background-color: #FCFCFC;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.wrapper .content .inner-content .product-infor h3 {
    margin: 0 0 30px 0;
}

.wrapper .content .inner-content .product-infor form {
    display: flex;
    flex-direction: column;
}

/* .wrapper .content .inner-content .product-infor form label {
    margin-bottom: 20px;
} */

.product-infor__title{
    margin-bottom: 20px;
    margin-top: 20px;
}

.wrapper .content .inner-content .product-infor form input {
    border: 1px solid #808080;
    height: 40px;
    /* margin-bottom: 20px; */
}

.text-box {
    border: 1px solid #808080;
    height: 160px;
    margin-bottom: 20px;
}

.text-box .box-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.text-box .box-top .top-left {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.text-box .box-top .top-left i:hover {
    cursor: pointer;
}

.text-box .box-top .top-right {
    color: #9A9FA5;
}

.text-box .box-top .top-right i:hover {
    cursor: pointer;
}

.text-box .box-top .top-right i:last-child {
    margin-left: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    margin: 0;
    background-color: #F4F4F4;
    outline: none !important;
    border: none;
}

.product-func .box {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-func .box input {
    width: calc(50% - 10px);
    border: none;
    background-color: #F4F4F4;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
}

/* Hinh anh san pham */
.product-images {
    width: 100%;
    background-color: #FCFCFC;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.product__size-color{
    display: flex;
    /* flex-direction: row; */
    gap: 100px;
    margin-bottom: 25px;
}

.product__checkbox-group{
    display: flex;
    align-items: center;
}

.product__checkbox-group input{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.product__checkbox-group label{
    font-weight: bold;
}

.product__checkbox-color{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.product__checkbox-group .color1 {
    background-color: #696A62;
}

.product__checkbox-group .color2 {
    background-color: #947549;
}

.product__checkbox-group .color3 {
    background-color: #141414;
}

.product__checkbox-group .color4 {
    background-color: #FFFFFF;
    border: 0.5px solid #141414;
}

.product__checkbox-group .color5 {
    background-color: #DB4040;
}

.product__table-result{
    width: 60%;
    /* margin-top: 20px; */
    border-collapse: collapse;
}

.product__table-result th{
    text-align: left;
    border-bottom: 1px solid #000000;
}

/* Preview */
.preview {
    width: 400px;
    background-color: #FCFCFC;
    margin-top: 90px;
    padding: 20px 60px;
    height: 50%;
}

.preview-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

.preview-title i {
    font-size: 18px;
    color: #6F767E;
}

.preview-title i:hover {
    cursor: pointer;
    color: #141414;
}

.preview-title span {
    font-size: 22px;
}

.preview img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.preview-top {
    position: relative;
}

.preview-top .sale {
    position: absolute;
    top: 15px;
    /* display: flex;
    justify-content: space-between; */
}

.sale span {
    background-color: #c90303;
    color: #FCFCFC;
    font-size: 14px;
    padding: 5px 10px;
}

.sale i {
    right: -180px;
    font-size: 22px;
}

.sale i:hover {
    cursor: pointer;
}

.preview-top i {
    position: absolute;
}

.preview-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.preview-bottom .bottom-left {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}

.preview-bottom .bottom-right {
    display: flex;
}

.preview-bottom .bottom-right div {
    background-color: #947549;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid #FCFCFC;
}

.preview-bottom .bottom-right div:hover {
    cursor: pointer;
    border: 1px solid #000000;
}

.preview-bottom .bottom-right div:first-child {
    background-color: #696A62;
}

.preview-bottom .bottom-right div:last-child {
    background-color: #141414;
}

.preview-bottom .bottom-right div:last-child:hover {
    border: 1px solid #FCFCFC;
}

.form-save{
    width: 100%;
    bottom: 0;
    height: 90px;
    background-color: #FCFCFC;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    flex-direction: row-reverse;
}

.form-save .save--btn {
    padding: 10px 15px;
    border: 1px solid #808080;
    color: #141414;
    margin-right: 10px;
}

.form-save .save--btn:hover {
    background-color: #141414;
    color: #FCFCFC;
}

.form-save .up--btn {
    padding: 10px 15px;
    background-color: #707070;
    margin-right: 10px;
    color: #FCFCFC;
    border: 1px solid #707070;
}

.form-save .up--btn:hover {
    /* border: 1px solid #808080; */
    background-color: #141414;
    color: #FCFCFC;
}