.btn-create{
    background-color: #141414;
    color: #EFEFEF;
    padding: 10px 25px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.btn-create i{
    width:0px;
    /* font-size: px; */
}
.btn-create:hover{
    background-color: #EFEFEF;
    border: 1px solid #141414;
    color: #141414;
}
.wrapper .dashboard{
    background-color: #FFFFFF;
    height: 88vh;
}
.wrapper .dashboard .content-top{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .dashboard .content-top .content-title{
    display: flex;
    align-items: center;
}
.content-title h3{
    font-size: 20px;
    margin-right: 40px;
}
.search-box {
    border: none;
    background-color: #F4F4F4;
    display: flex;
    padding: 10px;
    color: #6F767E;
    width:500px;
}
.btn-search{
    background-color: #F4F4F4;
    width: 100%;
}
.arrange i{
    font-size: 20px;
    margin: 0 10px;
}
table{
    border-bottom: none;
    color: #000000;
    font-size: 14px;
    border-collapse: collapse;
    margin: 0px 20px 0 10px;
    width: 72vw;
}
table th{
    border-bottom: none;
}
table .product-all{
    text-align: left;
}
table th:last-child ,td:last-child{
    text-align: right;
}
table tbody td img{
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
}
table td{
    text-align: center;
}
table tr .shirt-product{
    text-align: left;
    display: flex;
    align-items: center;
}
table tr .shirt-product, .product-all{
    width: 280px;
}
.product-content td:last-child{
    padding-right: 20px;
    width: 100px;
}
.product-content td {
    height: 90px;
}
tr td{
    border-bottom: 1px solid #EFEFEF;
}
.shirt-product span strong{
    font-size: 16px;
}