/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 3, 2023, 8:54:30 AM
    Author     : admin
*/
@import url(basecf.css);
/* header-banner */
.header-banner {
    margin: 0;
    padding: 0;
    display: flex;
    height: 767px;
    justify-content: center;
    align-items: center;
    margin-bottom: 112px;
}

.header-banner__slider {
    width: 1440px;
    height: 767px;
    overflow: hidden;
}

.header-banner__slides {
    width: 500%;
    height: 767px;
    display: flex;
}

.header-banner__slides input {
    display: none;
}

.header-banner__button-click {
    position: absolute;
    left: 1400px;
    top: 550px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.button-explore-now{
    position: absolute;
    z-index: 3;
    top: 800px;
    left: 634px;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1440px;
    height: 767px;
}

.navigation-manual {
    /* border: 2px solid #E6E6E6; */
    position: absolute;
    width: 1440px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: rgb(255, 255, 255);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1440px;
    justify-content: center;
    margin-top: 727px;
}

.navigation-auto div {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: rgb(255, 255, 255);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: rgb(255, 255, 255);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: rgb(255, 255, 255);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: rgb(255, 255, 255);
}


.container {
    display: block;
    width: 100%;
}


/* hide button */
.slide-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: 20px;
}

.card-wrapper{
    width: 1216px;
    align-items: center;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    align-items: center; */
    display: flex;
}

/* hide button */
.slick-prev, .slick-next{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    z-index: -10;
}

.card{
    width: 300px;
    height: 578px;
}

.card-container{
    height: 498px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.image-content{
    position: relative;
}

.image-content a, .image-content{
    height: 100%;
    width: 379px;
    display: flex;
}

.image-content a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    animation: fade 0.6s;
}

.image-content-back{
    display: none;
}

.card-container:hover .image-content-back{
    display: block;
}

.card-container:hover .image-content-front{
    display: none;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.card-category{
    width: 379px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.button-watch-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 90px;
}

/* big banner */

.banner-big{
    position: relative;
    display: block;
}

.banner-big__image1, .banner-big__image2{
    display: block;
    padding-bottom: 40px;
}

.banner-big__btn{
    position: absolute;
    z-index: 3;
    top: 500px;
    left: 1100px;
}


/* collection */

.collection{
    padding: 100px;
    display: block;
}

.collection-list{
    display: flex;
    flex-wrap: 40px;
}
.collection__item{
    display: block;
    margin-left: -40px;
    overflow: hidden;
    width: calc(33% - 40px);
    margin-left: 40px;
}


/* check in instagram */

.checked-instagram {
    display: inline-block;
    color: red;
    width: 100%;
    height: 100%;
}

.checked-instagram__title{
    display: block;
    align-items: center;
    text-align: center;
}
.checked-instagram__title p{
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: black;
}

.checked-instagram__title h5{
    margin-top: 24px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: black;
}

.checked-instagram__listitems{
    display: block;
    margin-bottom: 117px;
    margin-top: 40px;
}

.checked-instagram__listitems-wrapper{
    display: flex;
    flex-wrap: 20px;
}

.checked-instagram__item{
    overflow: hidden;
    width: calc(25% - 40px);
    margin-left: 40px;
    margin-top: 40px;
}
.checked-instagram__item p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: black;
}

.banner-bottom {
    /* margin-left: 40px; */
    position: relative;
    display: block;
}

.banner-bottom a{
    position: absolute;
    z-index: 10;
    top:300px;
    left: 217px;
}

/* timecountdown */

.timecountdown {
    width: 383px;
    border: 1px solid black;
    border-radius: 50px;
    height: 111px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 530px;
    margin-top: 20px;
}
.timecountdown span {
    text-align: center;
    font-size: 44px;
    padding-top: 15px;
}

.timecountdown ul {
    padding-left: 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.timecountdown ul li {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
}
